/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Universal Setup */

body {
  font: normal 20px Arial, sans-serif;
  background: white;
}

body,
h2 a {
  color: #45494d;
}

/* Header */

body > header {
  background: #3d3d3d;
  text-align: center;
  padding: 20px 20px 5px 20px;
}

h1 {
  font: normal 50px Helvetica, Arial, sans-serif;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
  padding: 20px 0 20px 0;
}

h1 a {
  color: white;
}

h1 a:hover {
  color: inherit;
}

header img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

nav {
  padding: 10px 0 0 0;
}

nav li {
  display: block;
  float: left;
  width: 50%;
}

a {
  text-decoration: none;
}

nav li a,
nav li a:hover,
nav li a:visited {
  color: white;
  text-transform: uppercase;
}

nav li a {
  display: block;
  width: 100%;
  padding: 5px 0;
}

a:hover {
  text-shadow: 0.5px 0.5px 0.5px #45494d;
}

a:hover,
nav li a:hover,
a.active:hover {
  color: #f5dc39;
}

nav li a:hover {
  text-shadow: none;
}

nav li a.active,
article p a {
  color: #50c3af;
}

nav:after {
  display: block;
  content: "";
  clear: both;
}

/* Main Content */

main {
  padding: 20px;
}

main section {
  padding-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  padding: 20px 0 20px 0;
}

article header p {
  padding: 0 0 20px 0;
}

main > section > article {
  padding: 20px 0;
}

main > section > article > p {
  line-height: 28px;
}

/* Previous and Next Page Buttons */

form button {
  font-size: 14px;
  color: white;
  padding: 8px 0;
  width: 85px;
  border: none;
  border-radius: 16px;
  background: #50c3af;
  display: block;
  float: left;
}

form button:nth-of-type(2) {
  margin-left: 30px;
}

form:after {
  display: block;
  content: '';
  clear: both;
}

form button:hover {
  background: #f5dc39;
  color: #45494d;
  font-weight: bold;
  cursor: pointer;
}

form button[disabled] {
  background: #d2d5da;
  color: white;
  font-weight: normal;
  cursor: auto;
}

/* Aside */

aside {
  font-size: 14px;
  padding: 20px 0;
  color: #787b80;
}

aside section {
  background: #f6f7f8;
  padding: 20px;
}

aside section:nth-of-type(n+2) {
  margin: 20px 0 0 0;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #384048;
  padding-bottom: 20px;
}

aside article li {
  clear: both;
}

aside article li a {
  display: block;
  width: 100%;
  height: auto;
  color: inherit;
}

aside article li:nth-of-type(n+2) a,
aside article li:nth-of-type(n+2) {
  margin: 10px 0 0 0;
}

aside article li:before {
  content: '\003e';
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  font-size: 9px;
  display: block;
  float: left;
  color: white;
  background: #6c6c6c;
  border-radius: 100%;
  margin-right: 12px;
}

aside p {
  line-height: 24px;
}

/* Footer */
footer {
  border-top: 2px solid #d0d0d0;
  margin: 20px;
  color: 7e8287;
  font-size: 12px;
}

footer p {
  padding: 20px 0;
}

/* Styles when tablet */

@media (min-width: 481px) and (max-width: 600px) {
  aside {
    background: #f6f7f8;
    overflow: auto;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
  }

  aside section {
    float: left;
    width: 50%;
    display: block;
    box-sizing: border-box;
  }
}

/* Styles when not mobile screen width */
@media (min-width: 481px) {
  /* Nav Items 4 Across */
  nav li {
    width: 25%;
  }

  aside section:nth-of-type(n+2) {
    margin: 0;
  }
}

/* Styles when not mobile or tablet width */
@media (min-width: 601px) {
  header nav,
  main,
  footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  header, main, footer {
    padding: 0;
  }

  header nav {
    padding: 110px 0 0 0;
  }

  header nav li a {
    padding: 20px 0;
  }

  main {
    overflow: auto;
    margin: 90px auto 0 auto;
    position: relative;
    height: auto;
  }

  h2 {
    padding-top: 0;
  }

  main > section {
    float: left;
    width: 75%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  main > section > article {
    padding: 0 0 100px 0;
  }

  main > aside {
    position: absolute;
    right: 0;
    top: 0;
    background: #f6f7f8;
    width: 25%;
    max-width: 230px;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
  }

  main > aside > section {
    padding: 20px 20px 50px 20px;
  }

  footer {
    margin-top: 50px;
  }

  footer p {
    padding: 20px;
  }
}

@media(min-width: 769px) {
  header h1 {
    padding: 125px 0 50px 0;
    font-size: 68px;
    letter-spacing: 0.1em;
  }
}