/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic Setup */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: lighter 26px 'Helvetica Neue', Arial, sans-serif;
  padding: 10px 10px 40px 10px;
  background: tomato;
}

body > header {
  text-align: center;
}

/* Nutrition Facts */

body > header, article {
  min-width: 480px;
  max-width: 600px;
  margin: 0 auto;
}

article {
  border: 2px solid black;
  padding: 10px;
  background: white;
}

section {
  padding: 3px 0;
}

/* Header */

article header {
  border-bottom: 20px solid black;
}

h1, h2 {
  font-size: 60px;
  font-weight: bold;
}

/* Subsections */

h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  text-align: right;
}

article  li {
  border-top: 1px solid black;
  display: block;
}

article, article ul, article li {
  overflow: auto;
}

article li p {
  display: block;
  float: left;
}

article li p + p {
  display: block;
  float: right;
}

ul {
  clear: both;
}

li > ul {
  margin: 0 0 0 15px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

article > section:first-of-type {
  border-bottom: 10px solid black;
}

article > section:nth-of-type(2) {
  border-bottom: 20px solid black;
}

article > section:nth-of-type(3) li:first-of-type {
  border-top: none;
}

article > section:nth-of-type(3) li:last-of-type {
  border-bottom: 1px solid black;
}

/* Footer Styles */

footer p {
  padding: 3px 0 0 20px;
  position: relative;
}

footer p:before {
  content: '*';
  display: block;
  position: absolute;
  left: 5px;
  top: 0;
}

table {
  width: 100%;
  text-align: left;
  margin: 5px 0 0 0;
}

th {
  text-align: left;
}

table thead {
  border-bottom: 1px solid black;
}













