/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic Setup */

body {
  font: normal 18px "Roboto Condensed", sans-serif;
  color: #3e606f;
  background-image: linear-gradient(to bottom, #d1dbbd, #fcfff5);
  background-repeat: no-repeat;

}
* {
  box-sizing: border-box;
}

/* Common */

header,
main,
footer {
  width: 960px;
  margin: 0 auto;
}

header {
  padding: 20px 20px 0 90px;
  overflow: auto;
}

h1 {
  float: left;
  font-size: 36px;
  padding: 45px 0 15px 115px;
  color: #193441;
  background: transparent url("logo.png") 0 0 no-repeat;
}

nav {
  float: right;
  padding: 75px 0 0 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px;
  color: #91aa9d;
  text-decoration: none;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.active {
  color: #fcfff5;
  background: #91aa9d;
}

/* Main Content */

main {
  background: white;
  padding: 30px;
  box-shadow: 0 4px 5px 0 #b8b8b7;
  display: block;
}

h2 {
  font-size: 32px;
}

article p {
  margin-top: 30px;
}

p + p {
  float: left;
  width: 530px;
}

.float-right {
  float: right;
}

img.float-right {
  padding: 30px 0 20px 30px;
}

article {
  overflow: auto;
}

/* Footer */

footer {
  padding: 15px 0 35px 0;
}

