/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common Setup */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: normal 20px 'Roboto', Helvetica, Arial, sans-serif;
  color: #45494d;
  background: url('images/bg_body.gif') 0 -15% repeat, #2f2840;
}

header, main {
  text-align: center;
  min-width: 780px;
}

/* Header */

header {
  margin: 135px 0 0 0;
}

nav {
  margin: 115px 0 50px 0;
}

nav li {
  display: inline-block;
}
nav a, nav a:visited {
  display: block;
  width: 100%;
  padding: 0 45px;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #cacaca;
}

nav a.active {
  color: #6db9ff;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

/* Main Content */

main {
  background: white;
  padding: 120px 0 135px 0;
}

main > * {
  width: 780px;
  margin: 0 auto;
}

article + article {
  margin-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 45px 0;
}

h1:before, h1:after {
  content: "\2022";
  color: #2f2840;
}

h1:before {
  padding-right: 35px;
}

h1:after {
  padding-left :35px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #3e59d2;
  margin-bottom: 25px;
}

/* Team Member Content */

.exit {
  background: transparent url('images/icon_close.png') 0 0 no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
}

.exit:hover {
  background-color: #eee;
}

#team-member {
  margin: 0 auto;
  padding: 110px 0 145px 0;
  background: #b2b2b2;
}

#team-member article {
  position: relative;
  overflow: auto;
  text-align: justify;
  width: 830px;
  padding: 125px 90px 110px 90px;
  background: white;
}

#team-member article img,
#team-member article h2 {
  display: inline-block;
  vertical-align: middle;
}

#team-member article h2 {
  margin: 0 0 0 30px;
}

#team-member article p {
  margin-top: 40px;
}

/* Projects */

article#projects {
  width: 1000px;
}

.project.app {
  position: relative;
}

#img-app a {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

#projects #img-app {
  content: "Download";
  display: block;
  position: absolute;
  width: 173px;
  height: 57px;
  border: 2px solid transparent;
  left: 90px;
  top: 220px;
  z-index: 5;
}

#projects #img-app:hover {
  border: 2px solid #6db9ff;
  cursor: pointer;
  border-radius: 2px;
}

.project p {
  width: 780px;
  margin: 0 auto;
}

#projects h2 {
  margin-top: 45px;
}

/* Floats */

.container {
  overflow: auto;
  margin-top: 135px;
}

.container figure {
  display: inline-block;
  margin: 0 30px;
  width: 135px;
}

figcaption {
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #3e59b2;
}

figure a,
figure a:visited {
  font-size: 24px;
  color: #3e59b2;
  text-decoration: none;
}

figure a:hover figcaption {
  text-decoration: underline;
  color: #2f2840;
}

/* Footer */

footer {
  text-align: center;
  background: #e7e7e7;
  color: #b2b2b2;
}

footer p {
  width: 500px;
  margin: 0 auto;
  padding-top: 90px;
}

footer ul {
  padding: 45px 0 75px 0;
}

footer li {
  display: inline-block;
  margin: 0 62px;
}

.social {
  content: "";
  width: 46px;
  height: 46px;
  background: transparent url('images/icons_social-media.png') 0 0 no-repeat;
  background-size: 46px;
  display: block;
  border-radius: 23px;
}

.facebook {
  background-position: 0 -46px;
}

.mail {
  background-position: 0 -92px;
}

.instagram {
  background-position: 0 100%;
}

.social:hover {
  background-color: #2f2840;
}

/* Responsive */

@media (max-width: 768px) {
  header {
    margin: 30px 0 0 0;
  }

  header img {
    height: 180px;
  }

  header nav {
    margin: 30px 0 30px 0;
  }

  nav a, nav a:visited {
    padding: 0 20px;
  }

  main {
    padding: 60px 20px 120px 20px;
  }

  #team-member article {
    width: 100%;
    padding: 60px 20px 60px 20px;
  }

  article#projects,
  .project p {
    width: 100%;
  }

  article#projects article img {
    width: 100%;
  }

  #projects #img-app {
    display: none;
  }

  .container figure {
    margin: 0 20px;
  }

  footer, body, main, header, article {
    width: 100%;
    min-width: 200px;
  }

  footer, main {
    padding-left: 20px;
    padding-right: 20px;
  }

  footer p {
    width: 100%;
  }

  footer li {
    margin: 0 30px 0 30px;
  }
}

@media (max-width: 480px) {
  header {
    margin: 0;
    overflow: auto;
    position: relative;
  }

  header > img {
    display: none;
  }

  .mobile-logo {
    float: left;
    width: 90px;
    height: 90px;
    background: transparent url('images/logo.png') 0 0 no-repeat;
    background-size: 149px auto;
    background-position: -35px 0px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .mobile-logo:after {
    width: 150px;
    height: 30px;
    background: transparent url('images/logo.png') 0 0 no-repeat;
    background-position: 0 100%;
    background-size: 150px auto;
    content: "";
    display: block;
    position: absolute;
    left: 80px;
    top: 22px;
  }

  header > nav {
    float: right;
    text-align: right;
    margin: 0;
  }

  header > nav li {
    display: block;
    padding: 10px 0;
  }

  header > nav a {
    padding: 0 20px 0 0;
    font-size: .9em;
  }

  footer li {
    margin: 0 20px 0 20px;
  }
}
