@import url('whitespace-reset.css');

body {
  font: normal 14px Helvetica, Arial, sans-serif;
  background: #c0c0c0;
}

main {
  padding: 20px 25px;
  background: #ffffff;
}

ul.row li {
  padding: 8px 15px;
  text-align: center;
  border-radius: 8px;
  background: #ececec;
}

.demo_height {
  height: 400px;
  line-height: 400px;
  text-align: center;
  background: #ececec;
}


/* CSS Framework */

/* Headings */
h1, h2, h3, h4 { font-weight: bold; }
h1, h2 { margin: 0 0 25px 0;}
h3, h4 { margin: 0 0 20px 0;}
h1 { font-size: 2.25em; }
h2 { font-size: 2.00em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.50em; }

/* Paragraphs */
.copy p {
  font-size: 1em;
  padding: 0 0 20px 0;
  line-height: 150%;
}

/* Lists */
.copy ul { list-style: disc inside; }

.copy ul ul { list-style: circle inside; }

.copy ul,
.copy ol { padding: 0 0 20px 25px; }

.copy ul ul,
.copy ol ol,
.copy ul ol,
.copy ol ul { padding: 0 0 20px 18px; }

.copy ol { list-style: decimal inside; }
.copy ol ol { list-style: lower-alpha inside; } 
.copy ol.roman { list-style: upper-roman inside; }
.copy ol.roman ol { list-style: lower-roman inside; }

/* Grid Layout */
.row {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

.row:after {
  display: block;
  content: "";
  line-height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.sixth, .fourth, .third, .half, .two_third, .five_sixth {
  display: block;
  float: left;
}

.sixth { width: 16.66%; }
.fourth { width: 25%; }
.third { width: 33.33%; }
.half { width: 50%; }
.two_third { width: 66.66%;}
.five_sixth { width: 83.33%;}

.margin_row > * { margin-left: 2%; }
.margin_row > *:first-child { margin-left: 0%; }

.margin_row .sixth { width: 15%;}
.margin_row .five_sixth { width: 83%;}
.margin_row .fourth { width: 23.5%;}
.margin_row .third { width: 32%; }
.margin_row .two_third { width: 66%;}
.margin_row .half { width: 49%; }

